.header
  .info_bar
    チャットグループが作成されました。
.main
  .sidebar
    .side-head
      .side-head__user-name
        ユーザー名
      .side-head__new-group
        .fa.fa-pencil-square-o
      .side-head__user-edit
        .fa.fa-cog
    .side-body
      .group
        .group__name
          グループ名
        .group__message
          グループメッセージ
  .contents
    .content-head
      .content-head__group
        .content-head__group__name グループ名
        .content-head__group__member MEMBER:drdr hapihapi
      .content-head__edit-button edit
    .content-body
      .massage
        .massage__name drdr
        .massage__date 2016/09/21 06:16:55
        .massage__text Hello World...
        .massage__name hapihapi
        .massage__date 2016/09/22 06:16:55
        .massage__text Good bye world!
    .content-foot
      .content-foot__message-form
        type a message
      .fa.fa-image
      .content-foot__send-button Send
