!!!
%html
  .hadear
  .body
    .sidebar
      .side_head ユーザー名
      .side_body グループリスト
    .contents
      .content_head グループ名
      .content_body
        メッセージ
        %br
        seo 2016/09/21 06:16:55
        %br
        Hello world!
        %br
        neko 2016/09/22 06:16:55
        %br
        Good bye world!
      .content_foot 投稿欄
