$mainYellowColor: #FFEC00;
$mainBlueColor: #38AEF0;
$mainBlackColor: #253141;
$subBlackColor: #2f3e51;
$mainborderColor: #eee;
$mainWhiteColor: #FFF;
$mainGrayColor: #B8C3C7;
$subTextCalor: #999;
$mainTextCalor: #434A54;
$mainHaedingTextColor: #333;
